openpyxl==3.0.9
pandas==1.4.0
pytest==6.2.5
tqdm==4.62.3
git+https://github.com/owid/data-utils-py.git@v0.4.4-alpha#egg=owid.datautils
git+https://github.com/owid/owid-catalog-py.git@master#egg=owid.catalog
